<% provide(:title, t("help_title")) %>
<h1><%= t "help_title" %></h1>

 <p>
   <%= t "content.help.intro" %>
   <%= link_to (raw t("content.help.raw_link_help")), t("link_pages.help") %>
   <%= t "content.help.intro1" %>
   <%= link_to (raw t("content.help.raw_link_book")), t("link_pages.book") %>
 </p>
